@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #7919af;
    height: 100vh;
    overflow-y: hidden; 
    overflow-x: hidden; 
}

h1{
    font-family: 'Secular One', sans-serif;
    color: white;
    font-size: 60px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin:4vh; 
}

p{
    color: white;
    font-size: 28px;
    text-align: center;
    position: relative;
    bottom: 300px;
    margin: 30px;
    
}



.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 50px;
}

.voltar{
    position: relative;
    left: -35px;
    bottom: 165px;
}

.avancar{
    position: relative;
    left: 195px;
    bottom: 165px;
}

.rodape{
    position: relative ;
    left: 550px;
    bottom: 250px;
}

.casa{
    max-width: 200px; 
    max-height: 200px
}
 